@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500;800;900&display=swap');

* {
    font-family: 'Questrial', Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Unbounded', cursive;
    font-weight: 900;
}

.logo > span {
    font-weight: 200;
}

.ques_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
}

body,
.question-wrap,
.flex_col_cent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.question-wrap {
    max-width: 800px;
    width: 90vw;
    background-color: rgba(255, 255, 255, .8);
    padding: 1em 0 3em 0;
    border-radius: 1em;
}

.question-wrap > button {
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    width: 80%;
    border-radius: 1em;
    cursor: pointer;
}

.question {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 800;
    width: 70%;
    user-select: none;
}

.question-header {
    display: flex;
    min-height: 200px;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

#selected {
    border: .5px solid lightseagreen;
    color: lightseagreen; 
    box-shadow: 0 0 .5em 0em;
    font-weight: bold;
    animation: scaleUp 500ms linear forwards;
}

@keyframes scaleUp {
    from { scale: 1; }
    to { scale: 1.1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@tailwind base;
@tailwind components;
@tailwind utilities;